@using ProjeMvcApiClient.Models;
@model Subeler
@{
    Layout = null;
}

<html>
<head>
    <title></title>
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/twitter-bootstrap/css/bootstrap-grid.css" rel="stylesheet"/>*@
</head>
<body>
    <div class="container mt-2">
        <form asp-action="Edit" asp-controller="Subeler" method="post">
            <input type="hidden" asp-for="SubeId" />
            <div class="form-group">
                <label asp-for="SubeAd">Şube Adı :</label>
                <input asp-for="SubeAd" type="text" name="SubeAd" class="form-control" />
            </div>
            <br />  
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Yenile</button>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>
        </form>
    </div>
</body>
</html>
